html {
  background-color: #5cdb95;
}
body {
  margin: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
h1{
  display: inline;
  font-family: 'Aldrich', sans-serif;
  font-size: 6vw;
  text-transform: uppercase;
  bottom: 0;
}
h2 {
  font-family: 'Aldrich', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #05386b;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 10px;
}
i {
  font-size: 50px;
}
/* Header */
#ultimate{
  display: inline;
  font-family: 'Amatic SC', cursive;
  font-size: 4vw;
  position: absolute;
  bottom: 6px;
  right: 0;
  float: right;
}

/* Main Content Area */

/* Images */
.logo-img {
  display: block;
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.img-short{
  display: block;
  height: 70%;
  width: 50%;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}
/* Podcast description */
.mc-info{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}
.mc-info a{
  text-decoration: none;
}
.mc-info a:visited {
  text-decoration: none;
  color: #379683;
}
.mc-info a:hover{
  text-decoration: none;
  color: #8ee4af;
}
/* Footer area */
h3{
  font-family: 'Aldrich', sans-serif;
  font-size: 0.5em;
  text-align: center;
  color:#449e6c;
}
.fa-facebook{
  text-decoration: none;
  color:#449e6c;
}
.fa-facebook:hover {
  color:  #8ee4af;
}
/* Grid setup */
.main-content {
  grid-area: main;
}
.user-info {
  grid-area: sidebar;
}
.header {
  grid-area: header;
  position: relative;
  color: #05386b;
  border-bottom: 2px solid;
}
.footer {
  grid-area: footer;
  font-family: 'Aldrich', sans-serif;
  font-size: 0.5em;
  text-align: center;
  color:#449e6c;
}
.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
   "header"
   "main"
   "sidebar"
   "footer"
}
.main-content{
  display: grid;
  grid-gap: 1.5em;
  grid-template-rows: repeat(9, fr);
  grid-template-areas: 
  "podcast"
  "podcast"
  "podcast"
  "podcast"
  "podcast"
  "podcast"
  "podcast"
  "podcast"
  "podcast";
  overflow: auto;
  max-height: 313px;
  padding: 10px;
}
.podcast{
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 100px auto;
  grid-template-areas:
  "mc-image"
  "mc-info";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
}
#user-icons {
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas:
  "users  users  users"
  "users  users  users";
  margin: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3)
}

@media only screen and (min-width: 600px)  {
	.wrapper {
    grid-template-columns: auto 25%;
    grid-template-rows: 15% auto 15%;
		grid-template-areas:
    "header   header"
		"main  sidebar"
		"footer  footer ";
  }
  #user-icons{
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas:
    "users  users"
    "users  users"
    "users  users";
    justify-content: center;
  }
  .podcast{
    grid-template-columns: 200px auto;
    grid-template-rows: 125px;
    grid-template-areas: 
    "mc-image  mc-info";
    overflow: auto;
  }
  .logo-img{
    height: 100%;
    width: 100%;
  }
  .img-short{
    margin-top: 8%;
    height: 60%;
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  #ultimate{
    display: block;
    position: relative;
    float: left;
    padding-top: 10px;
  }
}

.box1 {
  font-size: 150%; 
}
.box2{
  font-size: 150%;
  background-color: #edf5e1;
}